@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    text-decoration: none;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
    --alt-bg-color: #101727 ;
    --bg-color: #252b3c;
    --text-color: white ;
    --pos-color: #57F287;
    --neg-color: #ED4245 ;
    --warn-color: #FEE75C ;
}

html {
    font-size: 60%;
    
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

button {
    background: var(--bg-color);
    padding: .5rem;
    border: .2rem solid rgba(255, 255, 255, 0.25);
    border-radius: .5rem;
    font-size: 1.5rem;
    transition: 0.3s;
    color: var(--text-color);
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: 700;
}

.toggle-true button{

}

button:active {
    background-color: rgba(255, 255, 255, 0.25);
}

input[type="text"] {
    background: var(--bg-color);
    padding: .5rem;
    border: .2rem solid rgba(255, 255, 255, 0.25);
    border-radius: .5rem;
    font-size: 1.5rem;
    transition: 0.3s;
    color: var(--text-color);
    margin-bottom: 1rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bg-color);
  margin: 0;
  height: 1.5rem;
  width: 1.5rem;
  border: .2rem solid rgba(255, 255, 255, 0.25);
  border-radius: .5rem;
  display:grid;
  place-content: center;
  transform: translateY(-0.075em);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgba(255, 255, 255, 0.65);;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input:hover, input:focus, button:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    transform: scale(1.04)
}

label{
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: .5rem;
}

.checkbox-group {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: .5rem;           
    margin-bottom: 1rem; 
}

.checkbox-group label {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1rem; 
    color: rgba(255, 255, 255, 0.65);
}

