@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
    --alt-bg-color: #101727 ;
    --bg-color: #252b3c;
    --text-color: white ;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.login-box {
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 20vh 35vw;
    background-color: var(--alt-bg-color);
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
    text-align: center;
}

.login-inputs{
    text-align: left;
    padding: 2rem;
    display: grid;
}

#password{
    -webkit-text-security: disc;
}
#login-btn {
    font-weight: 700;
}


button {
    background: var(--bg-color);
    padding: .5rem;
    border: .2rem solid rgba(255, 255, 255, 0.25);
    border-radius: .5rem;
    font-size: 1.5rem;
    transition: 0.3s;
    color: var(--text-color);
    margin-bottom: 1rem;
    cursor: pointer;
}

button:active {
    background-color: rgba(255, 255, 255, 0.25);

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
    background: var(--alt-bg-color);
    border-bottom: transparent;
    
}

.menu-icons {
    display: flex;
    font-size: 2rem;
    align-items: center;
    gap: rem;

}

.content {
    background-color: var(--alt-bg-color);
    margin: 3rem 4rem;
    display:flex;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
}

    input {
    background: var(--bg-color);
    padding: .5rem;
    border: .2rem solid rgba(255, 255, 255, 0.25);
    border-radius: .5rem;
    font-size: 1.5rem;
    transition: 0.3s;
    color: var(--text-color);
    margin-bottom: 1rem;
}

input:hover, input:focus, button:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    transform: scale(1.04)
}

.content select, option {
    background: var(--bg-color);
    border: .2rem solid rgba(255, 255, 255, 0.25);
    border-radius: .5rem;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    color:rgba(255, 255, 255, 0.3); ;
    margin-bottom: 1rem;
}

label{
    font-size: 1.5rem;
    font-weight: 700;
}

.inputs {
    display: grid;
    background: var(--alt-bg-color);
    border-radius: .5rem;
    padding: 1rem;
    gap: .5rem;
}

